body {
  font-family: Arial;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}

.quiz {
  background: white;
  padding: 15px;
  border: 1px solid gray;
  display: inline-block;
}

.quiz div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin: 8px;
  background-color: green;
  color: white;
  border: none;
}

#output {
  font-size: 18px;
  margin-top: 10px;
  color: black;
}
